{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="color-scheme" content="light dark">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}mateirobescu.com{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">
    <script type="module" src="{% static 'portfolio/js/index.js' %}" defer></script>


    {% comment %} DOWNLOAD IT {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    {% comment %} DOWNLOAD IT {% endcomment %}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</head>

<body>

<header class="header">
  <div class="grid--left ">
    <img class="logo__img" src="{% static "portfolio/images/logo_black.svg" %}" alt="Logo of mateirobescu.com" width="1024" height="526">
  </div>
  <nav class="navbar grid--center">
    <ul class="navbar__list">
      {% comment %} class active to show active traits {% endcomment %}
      <li class="navbar__item"><a class="navbar__link" href="#">home</a></li>
      <li class="navbar__item no-select" aria-hidden="true">/</li>
      <li class="navbar__item "><a class="navbar__link" href="#">projects</a></li>
      <li class="navbar__item no-select" aria-hidden="true">/</li>
      <li class="navbar__item"><a class="navbar__link" href="#">CV</a></li>
    </ul>
  </nav>

  <div class="contact grid--right">
    <div class="settings">
      <button class="settings__btn clear__btn" aria-expanded="false" aria-controls="settings-panel">
        <ion-icon class="navbar__icon" name="settings-sharp"></ion-icon>
      </button>
      <div id="settings-panel" class="settings-panel disabled">
        <div class="settings-lang">
          <ul class="lang__list">
            <li class="lang__item">
              <button class="clear__btn navbar__link ">ro</button>
            </li>
            <li class="lang__item">
              <span class="no-select" aria-hidden="true">/</span>
            </li>
            <li class="lang__item">
              <button class="clear__btn navbar__link">en</button>
            </li>
          </ul>
        </div>
        
        <div class="settings-theme">
          <button class="settings-theme__btn clear__btn">
            <ion-icon class="navbar__icon" name="invert-mode-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>
    <button class="clear__btn contact__btn">
      <span>Contact</span>
    </button>
  </div>

  <div class="mobile__nav grid--right">
    <button class="mobile__nav__btn  clear__btn" aria-expanded="false" aria-controls="navigation-panel">
      <ion-icon class="navbar__icon" name="menu-outline"></ion-icon>
    </button>
  </div>

  <div class="mobile__nav__panel">
    <nav class="navbar">
    <ul class="navbar__list">
      {% comment %} class active to show active traits {% endcomment %}
      <li class="navbar__item"><a class="navbar__link" href="#">home</a></li>
      <li class="navbar__item "><a class="navbar__link" href="#">projects</a></li>
      <li class="navbar__item"><a class="navbar__link" href="#">CV</a></li>
    </ul>
    </nav>
    <div class="contact">
      <button class="clear__btn contact__btn">
        <span>Contact</span>
      </button>
      <div class="settings">
        <button class="settings__btn clear__btn" aria-expanded="false" aria-controls="settings-panel">
          <ion-icon class="navbar__icon" name="settings-sharp"></ion-icon>
        </button>
        <div id="settings-panel" class="settings-panel">
          <div class="settings-lang">
            <ul class="lang__list">
              <li class="lang__item">
                <button class="clear__btn navbar__link ">ro</button>
              </li>
              <li class="lang__item">
                <span class="no-select" aria-hidden="true">/</span>
              </li>
              <li class="lang__item">
                <button class="clear__btn navbar__link">en</button>
              </li>
            </ul>
          </div>
          
          <div class="settings-theme">
            <button class="settings-theme__btn clear__btn">
              <ion-icon class="navbar__icon" name="invert-mode-outline"></ion-icon>
            </button>
          </div>
        </div>
      </div>
      
    </div>

  </div>


</header>

{% block content %}{% endblock content %}

</body>
</html>
