{% extends 'portfolio/base.html' %}

{% block title %}Home - Matei Robescu{% endblock %}

{% block content %}
<main class="main">
  <section class="hero">
    <div class="hero__title">
      <h1>ABOUT<br>ME</h1>
    </div >
    <div class="hero__description">
      <article class="about-me">
        <p class="about-me__p intro-hi">Hi!</p>
         <p class="about-me__p">My name is <strong>Matei Robescu</strong>, I’m 20 years old and currently
          a 2nd year student at <strong>Faculty of Cybernetics, Statistics and Economic Informatics, ASE</strong>,
          specializing in <em>Informatica Economică</em>.
         </p>
         <p class="about-me__p"> I’ve been passionate about technology since I was really young and
          this portfolio is my way of sharing that journey —
          through the projects I am working on and the skills I continue to develop.
        </p>
      </article>
      <div class="my-skills">
        <p class="my-skills__p">Technologies I’ve worked with — and I’m always open to learning more.</p>
        <div class="my-skills__icons">
          
            <div class="skill" data-label="Python"><i class="devicon-python-plain " ></i></div>
            <div class="skill" data-label="Django"><i class="devicon-django-plain " ></i></div>
            <div class="skill" data-label="Javascript"><i class="devicon-javascript-plain " ></i></div>
            <div class="skill" data-label="HTML5"><i class="devicon-html5-plain " ></i></div>
            <div class="skill" data-label="CSS3"><i class="devicon-css3-plain " ></i></div>
            <div class="skill" data-label="Git"><i class="devicon-git-plain " ></i></div>
            <div class="skill" data-label="Linux"><i class="devicon-linux-plain " ></i></div>
        </div>
      </div>
    </div>
    
  </section>
  <section class="projects">
    
  </section>


</main>
{% endblock %}