{% extends 'portfolio/base.html' %}

{% block title %}Home - Matei Robescu{% endblock %}

{% block content %}
<main class="main">
  <section class="hero" id="home" aria-label="About me" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="200">
    <div class="hero__title">
      <h1>ABOUT<br>ME</h1>
    </div >
    <div class="divider" aria-hidden="true"></div>
    <div class="hero__description">
      <article class="about-me">
        <p class="about-me__p intro-hi">Hi!</p>
         <p class="about-me__p">My name is <strong>Matei Robescu</strong>, I’m 20 years old and currently
          a 2nd year student at <strong>Faculty of Cybernetics, Statistics and Economic Informatics, ASE</strong>,
          specializing in <em>Informatica Economică</em>.
         </p>
         <p class="about-me__p"> I’ve been passionate about technology since I was really young and
          this portfolio is my way of sharing that journey —
          through the projects I am working on and the skills I continue to develop.
        </p>
      </article>
      <div class="my-skills">
        <p class="my-skills__p">Technologies I’ve worked with — and I’m always open to learning more.</p>
        <div class="my-skills__icons">
          
            <div class="skill" data-label="Python"><i class="devicon-python-plain" role="img" aria-label="Python"></i></div>
            <div class="skill" data-label="Django"><i class="devicon-django-plain" role="img" aria-label="Django"></i></div>
            <div class="skill" data-label="JavaScript"><i class="devicon-javascript-plain" role="img" aria-label="JavaScript"></i></div>
            <div class="skill" data-label="HTML5"><i class="devicon-html5-plain" role="img" aria-label="HTML5"></i></div>
            <div class="skill" data-label="CSS3"><i class="devicon-css3-plain" role="img" aria-label="CSS3"></i></div>
            <div class="skill" data-label="Git"><i class="devicon-git-plain" role="img" aria-label="Git"></i></div>
            <div class="skill" data-label="Linux"><i class="devicon-linux-plain" role="img" aria-label="Linux"></i></div>
      </div>
      </div>
    </div>

    <div class="scroll-down">
      <a href="#projects">
        <ion-icon name="chevron-down-outline" class="scroll-down__icon"></ion-icon>
      </a>
    </div>
    
  </section>
  <section class="projects" id="projects" aria-label="Projects">
    <h2 class="projects__header">Projects</h2>
    <div class="projects-stacks">
      <button class="stack stack-all active-stack clear__btn" data-filter="all">All</button>

      {% for stack in stacks %}
        <button class="stack clear__btn" data-filter="{{ stack.name_lower }}">{{ stack.name }}</button>
      {% endfor %}

      
    </div>
    <div class="projects__container">

      {% for project in projects %}

        <div class="card" data-stacks="{{ project.data_stacks }}">
          <img class="card__img" src="{{ project.image.url }}" alt="{{ project.title }}">
          <div class="card-body">
            <h3 class="card-title">{{ project.title }}</h3>
            <p class="card-description">{{ project.description }}</p>
            <div class="card-stacks">
              {% for stack in project.stacks.all %}
                <i class="{{ stack.icon }} stack-icon" role="img" aria-label="{{ stack.name }}" data-label="{{ stack.name }}"></i>
              {% endfor %}
            </div>
            <div class="card-links">

              {% if project.github_url %}
                <a class="github" href="{{ project.github_url }}">
                  <i class="devicon-github-original link-icon"></i>
                </a>
              {% endif %}
              
              {% if project.live_demo_url %}
                <a class="live-demo" href="{{ project.live_demo_url }}">
                  <span class="live-demo-text">Live demo</span>
                </a>  
              {% endif %}
              
            </div>
          </div>
        </div>
      
      
      
      {% endfor %}  
    </div>

  </section>
  {% comment %} <section class="cv" id="cv" aria-label="CV"></section>
  <section class="contact" id="cv" aria-label="CV"></section> {% endcomment %}


</main>
{% endblock %}
