# Python
__pycache__/
*.py[cod]
*.pyo
*.so

# Virtual environments
venv/
env/
.venv/

# Django
db.sqlite3
media/
staticfiles/
backend/portfolio/static/portfolio/css/
backend/portfolio/static/portfolio/js/

# Secrets
.env

# Logs & misc
*.log
*.pot
pip-selfcheck.json

# Editors / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Node / Parcel
node_modules/
dist/
build/
.parcel-cache/

# AWS SSH Key
*.pem

# Bash Scripts
*.sh

# ML data
corpus_data/raw/
corpus_data/clean/

github_data/