@use "variables";
:root[data-theme="light"] {
  --c-bg: #fff;
  --c-text: #212529;
  --c-text-secondary: #868e96;
  --c-btn-bg: #495057;
}

:root[data-theme="dark"] {
  --c-bg: #212529;
  --c-text: #ced4da;
  --c-text-secondary: #e9ecef;
  --c-btn-bg: #e9ecef;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Funnel Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  line-height: 1.5;
  background-color: var(--c-bg);
  color: var(--c-text);
  min-height: 100vh;
}

.main {
  max-width: 80rem;
  margin: auto;
  padding: 0 clamp(1rem, 5vw, 3rem);
}
