@use "variables";

.cv a:link,
.cv a:visited {
  color: inherit;
  text-decoration: none;
}

.cv {
  font-size: clamp(1rem, 2vw, 1.3rem);
  display: flex;
  flex-direction: column;
}

.cv__title-info {
  color: #fff;
  color: var(--c-text);
  font-weight: 600;
  // border-bottom: 5px solid var(--c-text);
  // border-top: 5px solid var(--c-text);
}

.cv__header {
  font-size: clamp(2rem, 6vw, 4rem);
  text-transform: uppercase;
  margin-bottom: clamp(0.5rem, 2vh, 1rem);
}

.info {
  display: grid;
  grid-template-columns: 1.25fr 1.5fr 1fr;
  @media (max-width: variables.$bp-xs) {
    grid-template-columns: 1fr;
  }

  row-gap: 0.75rem;
  padding-bottom: 1.5rem;
}

.info a {
  display: flex;
  align-items: center;
}

.info ion-icon {
  margin-right: 0.5rem;
}

.cv__content {
  padding-top: clamp(1.5rem, 3vw, 3rem);

  flex-grow: 1;
  display: grid;
  grid-template-columns: 3fr 2fr;
  @media (max-width: variables.$bp-xs) {
    grid-template-columns: 1fr;
  }
  gap: 2.5rem;
}

.cv__content h2 {
  margin: 0;
  margin-bottom: 0rem;
}

.cv__content h3 {
  margin: 0;
  font-weight: 500;
}

.cv__content h4 {
  margin: 0;
  margin-top: 0.5rem;
  font-weight: 400;
}

.cv__column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cv__items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.cv__items.languages {
  gap: 1rem;
}

.cv__time-location {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.time,
.location {
  display: flex;
  align-items: center;
}
.time ion-icon,
.location ion-icon {
  margin-right: 0.25rem;
}

.cv__content ul {
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.cv__content li {
  line-height: 1.3;
}

.spacer {
  width: 100%;
  height: 3px;
  border-bottom: 3px solid var(--c-text);
}

.skills__container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.cv .skill {
  padding: 0.25rem 0.35rem;
  border-bottom: 1px solid var(--c-text);
}

.language {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1.5rem;
  align-items: center;
}

.dots {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
